<div style="border: 2px black dashed">
    <span>Chained Counter with @Counter</span>
    <button @onclick="Decrement" class="btn btn-primary">--</button>
    <button @onclick="Increment" class="btn btn-primary">++</button>
</div>

@code {
    [Parameter] [EditorRequired] public int Counter { get; set; }

    [Parameter] public EventCallback<int> CounterChanged { get; set; }

    [Parameter] public int StepSize { get; set; } = 1;


    private void Decrement()
    {
        Counter -= StepSize;
        CounterChanged.InvokeAsync(Counter);
    }

    private void Increment()
    {
        Counter += StepSize;
        CounterChanged.InvokeAsync(Counter);
    }

}