@page "/render-fragments"
<h3>Render Fragements in Form Fields</h3>


<FieldComponent Label="First name">
    <input type="text" class="form-control" placeholder="first name"/>
</FieldComponent>

<FieldComponent Label="Last Name" HelpMessage="Family name">
    <input type="text" class="form-control" placeholder="last name"/>
</FieldComponent>

@code {

}