@page "/AddBier"
@using BlazorCourse.Components.Pages.BierExample.Model
@using BlazorCourse.Components.Pages.BierExample.Repository
<h3>Bier Toevoegen</h3>

<form>
<EditForm Model="_bier" OnValidSubmit="AddBierToDb">
    <div class="mb-3">
        <label for="naam" class="form-label">Naam</label>
        <InputText class="form-control" id="naam" @bind-Value="_bier.Naam"/>
    </div>

    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <InputText class="form-control" id="type" @bind-Value="_bier.Type"/>
    </div>

    <div class="mb-3">
        <label for="stijl" class="form-label">Type</label>
        <InputText class="form-control" id="stijl" @bind-Value="_bier.Stijl"/>
    </div>

    <div class="mb-3">
        <label for="alcohol" class="form-label">Alcohol</label>
        <InputText class="form-control" id="alcohol" @bind-Value="_bier.Alcohol"/>
    </div>

    <div class="mb-3">
        <label for="brouwer" class="form-label">Brouwer</label>
        <InputSelect class="form-control" id="brouwer" @bind-Value="_bier.Brouwcode">
            @foreach (var brouwer in _brouwers)
            {
                <option value="@brouwer.Brouwcode">@brouwer.Naam</option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-danger" type="reset">Reset</button>
    <button class="btn btn-primary" type="submit">Add Bier</button>
</EditForm>
</form>

@code {
    private Bier _bier = new Bier();
    private List<Brouwer> _brouwers = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _brouwers = new BrouwerRepository().Get();
    }

    private void AddBierToDb()
    {
        new BierRepository4().Add(_bier);
        _bier = new Bier();
    }

}