@page "/shop/product"

@if (_products != null)
{
    <div class="row">
        @foreach (var product in _products)
        {
            <div class="col-md-3">
                <ProductCard Product="product"/>
            </div>
        }
    </div>    
}
else
{
    <div class="row">
        <div class="col">
            Loading....
        </div>
    </div>
}


@code {
    private ProductService _productService = new ProductService();
    private List<ShopProduct> _products = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _products = _productService.GetAllProducts();
    }

    
}