@page "/parent-child-and-service-example"

@* .NET 7 Blazor 🔥 Component Communication (Parameters, EventCallbacks & States/Services) *@
@* https://www.youtube.com/watch?v=QSM1Vhu1Nsc *@

<h1>Parent Child And Service Example</h1>

<Parent Name="Joel" ChildName="Sarah"/>
<Parent Name="Anna" ChildName="Ellie"/>

@code {

}