@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using System.Reflection
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Home</PageTitle>

<h1>Hello World!</h1>