@page "/data-binding/one-way"
@rendermode InteractiveServer
<h1>Data Binding</h1>
<hr>

<h2>One way binding</h2>
<p>@_dateTimeMessage</p>
@code {
    readonly string _dateTimeMessage = "The date and time is: " + @DateTime.Now;
}
<hr>

<h2>Binding to an object</h2>
<p>@_person.FirstName @_person.LastName</p>
@code {
    public class Person
    {
        public required string FirstName { get; set; }
        public required string LastName { get; set; }
    }

    readonly Person _person = new Person { FirstName = "John", LastName = "Doe" };
}